@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$Poppins: "Poppins", sans-serif;

//color
$dark: rgb(29, 29, 29);

//font-size
$large_FZ: 18px;
$small_FZ: 8px;

@mixin breakpoint($point) {
  @if ($point== "lg") {
    @media (max-width: 600px) {
      @content;
    }
  }
}
