.converter {
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  flex-wrap: wrap;
}

.converter_choice {
  height: 120px;
  border: 2px rgb(71, 224, 191) solid;
  border-radius: 10px;
  margin: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.ant_select {
  width: 270px;
  margin: 10px 5px;
}

.ant_select_selection {
  border-radius: 10px;
}

.ant_select_selection_text {
  font-size: 15px;
}

.money {
  width: 50px;
  padding-right: 5px;
  margin-top: -5px;
}

.change {
  width: 45px;
  cursor: pointer;
}

.converter_choice_input {
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.converter_choice_input.required {
  border: 2px red solid;
}

.error {
  color: red;
}

.currentMoney {
  border-radius: 10px;
  height: 100%;
  font-size: 20px;
  margin: 0 5px;
}

.currentMoney.required {
  background-color: red;
}

@media (max-width: 600px) {
  .ant_select {
    width: 180px;
    margin: 10px 2px;
  }

  .ant_select_selection_text {
    font-size: 8px;
  }

  .money {
    width: 40px;
    padding-right: 5px;
    margin-top: -4px;
  }

  .currentMoney {
    border-radius: 10px;
    height: 90%;
    width: 85%;
    font-size: 20px;
    margin: 0 2px;
  }
  .error {
    font-size: 10px;
  }
}
