.wrapper {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: rgb(213, 213, 216);
  min-height: 100vh;
}

.content {
  width: 100%;
  height: auto;
  align-self: center;
}

@media (max-width: 600px) {
  .content {
    width: 100%;
    height: auto;
    align-self: flex-start;
  }
}
